
   body{
       margin : 0px;
       padding : 0px;
       background-image:url("bg.jpg");
       background-position: vertical;
   
   }
   
   .machine{
       /* background-color: peru;
       border: 3px dashed brown; */
       height: 500px;
       width: 60%;
       margin: auto;
       display: flex;
       flex-direction: column;
       margin-top: 12%;
   
       z-index: 5;
   
   }
   
   .bttndiv{
       display: flex;
       margin-top: 30px;
       justify-content: center;
   }
   .bttn{
       font-size: 30px;
       border-radius: 5px;
       font-weight: bold;
       margin: 5px;
   }
   .slot{
       align-items: center;
       width:90%;
       height: 30%;
       background-color:#ffffff;
       border: 1px solid;
       border-radius: 60px;
       text-align: center;
       font-size: 100px;
       line-height: 150px;
       overflow: hidden;
       z-index: 1;
   }
   .slot > .value{
       z-index: 3;
       animation-name: slotspin;
       animation-iteration-count: infinite;
       animation-duration: calc(1s / var(--speed));
      
   }
   
   @keyframes slotspin{
       0%{
           transform: translateY(-250px);
       }
       100%{
           transform: translateY(250px);
       }
   }