:root{
 /* css variable */
    --speed:0; 
}


/* header::before {
    content: "";
    background: url("slot-background.png") no-repeat center center/cover;
    position: absolute;;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    z-index: -1;

} */
body{
    margin : 0px;
    padding : 0px;
    background-image:url("bg.jpg");
    background-position: center;
    opacity: 0.75;

}

.machine{
    /* background-color: peru; */
    /* border: 3px dashed brown; */
    height: 300px;
    width: 740px;
    margin: auto;
    display: flex;
    margin-top: 7%;

    z-index: 5;

}

#idspeed{
    margin: 20px;
    height: 30px;
    width: 50px;
    text-align: center;
    font-size: large;
}
.bttndiv{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.bttn{
    border: 2px solid black;
    font-size: 30px;
    border-radius: 30px;
    font-weight: bold; 
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -15px;
    background-color:#ffffff;
}
.slot{
    /* align-items: center; */
    margin: auto;
    width:200px;
    height: 250px;
    background-color:#ffffff;
    border: 1px solid;
    border-radius: 60px;
    text-align: center;
    font-size: 100px;
    line-height: 240px;
    overflow: hidden;
    z-index: 1;
}
.slot > .value{
    z-index: 3;
    animation-name: slotspin;
    animation-iteration-count: infinite;
    animation-duration: calc(1s / var(--speed));
   
}

@keyframes slotspin{
    0%{
        transform: translateY(-250px);
    }
    100%{
        transform: translateY(250px);
    }
}


